@import "../utils/variables.scss";
@import "../utils/mixins.scss";

#details {
  @include flex-column;
  justify-content: start;
  background-color: #494949;
  width: 100%;
  min-height: calc(100vh - 5px);
  z-index: 20;
}

#details-nav {
  @include flex-row;
  width: 100%;
  // background-color: #696969;
  justify-content: space-between;
  height: 56px;
  color: white;
  padding: 5px 0px;
  // box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.5) inset;
  #details-nav-left {
    @include flex-row;
    padding-left: 20px;
    justify-content: space-between;
    gap: 30px;
    animation: slideFromLeft 0.25s ease-in;
    > img {
      width: 40px;
      filter: invert(1);
      cursor: pointer;
      transition: 0.25s;
    }
    > img:hover {
      transition: 0.25s;
      transform: scale(1.05);
      filter: invert(0.5);
    }

    h1 {
      font-size: 26px;
    }
  }
  #details-nav-right {
    padding-right: 20px;
    animation: slideFromRight 0.25s ease-in;
  }
}
#details-background {
  @include flex-column;
  border-radius: 500px;
  margin-top: 16px;
  // background-image: url('/public/bg-types/normal-bg.jpg');
  background-position: center;
  background-size: cover;
  // width: 100%;
}

#pokemon-image {
  width: 80vw;
  max-width: 400px;
  animation: zoomIn 0.2s ease-in;
  transition: 1s;
  z-index: 5;
  transform: scale(1.1);
  // background-color: red; ADD BG COLOR REACT
}
// #pokemon-image:hover {
//   transition: 1s;
//   transform: scale(1.1);
// }
#details-main {
  @include flex-column;
  width: 100%;
  background-color: #f7f7f7;
  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.5) inset;
}
#genres {
  display: flex;
  gap: 20px;
  animation: zoomIn 0.2s ease-in;

  position: relative;
  bottom: 20px;
  z-index: 10;
}

#details-main-fetch {
  @include flex-column;
  gap: 16px;
  padding: 20px;
  animation: slideFromBottom 0.25s ease-out;
}
#details-loading {
  @include flex-column;
  justify-content: start;
  gap: 16px;
  padding: 20px;
  min-height: 80vh;
}

#spinner {
  width: 100px;
}
// @media screen and (min-width: 720px) {
//   #details-main-fetch {
//     display: flex;
//     flex-direction: row;
//     justify-content: start;
//   }
// }
